h1 {
  text-align: center
}

body {
  background: #4682b4;
}

p {
  background-color: #ffdead
} /* navajowhite /*

/* MDN for CSS colour values: https://developer.mozilla.org/en-US/docs/Web/CSS/color_value /*
